* {
  margin: 0;
  padding: 0;
}
.section1 {
  width: 100%;
  height: 25vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1 p {
  font-size: 1.5vw;
  font-weight: 900;
  line-height: 3vw;
  letter-spacing: -0.13vw;
  text-align: center;
}
.section1 p span {
  color: #8f63da;
}
.section1 img {
  position: absolute;
  left: 62vw;
  top: 11.5vw;
}

.section2 {
  width: 100%;
  height: 46vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.section2 .article_container {
  width: 68%;
  height: 68%;
  display: flex;
  justify-content: space-between;
}
.section2 .article_container .article {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
}
.section2 .article_container .article p:nth-child(1) {
  font-size: 1.5vw;
  font-weight: 900;
  letter-spacing: -0.05vw;
}
.section2 .article_container .article img {
  width: 40%;
}
.section2 .article_container .article .article_box {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(192, 192, 192);
}
.section2 .article_container .article .article_box .text_box {
  width: 95%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section2 .article_container .article .article_box .text_box p:nth-child(1) {
  width: 35%;
  height: 100%;
  font-size: 0.7vw;
  font-weight: 700;
  line-height: 2vw;
}
.section2 .article_container .article .article_box .text_box p:nth-child(2) {
  width: 60%;
  height: 100%;
  font-size: 0.6vw;
  line-height: 2vw;
}
.section3 {
  width: 100%;
  height: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3 p:nth-child(1) {
  width: 70%;
  font-size: 1.5vw;
  font-weight: 900;
  line-height: 3vw;
  letter-spacing: -0.13vw;
}
.section3 p span {
  color: #8f63da;
}
.section3 .article_container {
  border: 1px solid red;
  width: 70%;
  height: 20%;
  margin-top: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section3 .article_container img {
  width: 2vw;
  height: 2vw;
}
.section3 .article_container .article {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.section3 .article_container .article .article_box {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.section3 .article_container .article .article_box .Video {
  width: 100%;
  height: 70%;
  background-color: black;
}
.section3 .article_container .article .article_box p:nth-child(2) {
  font-size: 0.5vw;
}
.section3 .article_container .article .article_box p:nth-child(3) {
  font-weight: 700;
}
