css시작
* {
  margin: 0;
  padding: 0;
}

.영역 {
  width: 100%;
  /* 넓이 */
  height: 51.09vw;
  /* 높이 */
  border: 1px solid black;
  /* 테두리: 1px 채우다 검정; */
}
.여백 {
  margin-top: vw;
  /* 여백- 위: vw; */
  margin-left: vw;
  /* 여백- 좌: vw; */
  margin: 1vw 2vw 3vw 2vw;
  /* 여백- 상1vw 우2vw 하3vw 좌2vw; */
  margin: 1vw 2vw;
  /* 상하 1vw 좌우 2vw; */
  margin: 0 auto;
  /* 상하 0vw 좌우 최대치밀어넣기;*/
  margin-right: auto;
  /* 여백-우: 최대치밀어넣기; */
}
.정렬 {
  display: flex;
  /* 표시, 표명: 유연하게; */
  flex-wrap: wrap;
  [줄바꿈정렬]
                 /* 유연하게-감싸다: 감싸다; */ 
  flex-direction: column;
  [주축축변경]
                 /* 유연하게-방향: 기둥; */ 
  align-items: center;
  [교차축중간정렬]
                 /* 정렬-항목: 중간; */ 
  align-items: end; 
  [교차축하위끝정렬]
                 /* 정렬-항목: 끝; */ 
  align-content: space-between;
  [교차축양끝정렬]
                 /* 정렬-내용물: 양쪽; */ 
  justify-content: center;
  [주축하위끝정렬]
                 /* 정렬-내용물: 중간; */ 
  justify-content: space-between;
  [주축양끝정렬]
                 /* 정렬-내용물: 양쪽; */     
  display: inline;
  [기본정렬로바꾸기]
                 /* 표시: 렬; */          
}

.텍스트 {
  font-size: 1.04vw;
  font-weight: 400;
  color: white;
  text-align: center;
  [세로정렬]
  /* 문자-정렬: 중간; */  
  line-height: vw; 
  [행간]
  /* 선-높이: ; */  
  letter-spacing: vw; 
  [자간]
  /* 글자-공간: ; */
}