*{
  margin: 0;
  padding: 0;
}
.sc {
  width: 100%;
  height: 67.45vw;
}
.sc .tlt {
  font-size: 1.3vw;
  font-weight: 600;
  color: #1E1E1C;
  margin-top: 2.34vw;
  margin-left: 21.67vw;
}
.sc .ac {
  width: 40.63%;
  height: 56.6%;
  margin: 5.05vw auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sc .ac .a {
  width: 100%;
  height: 48.16%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  
}
.sc .ac .a .ctat {
  width: 48.97%;
  height: 19.26%;
}
.sc .ac .a  .box {
 display: flex;
}
.sc .ac .a .stlt {
  font-size: 0.78vw;
  font-weight: 700;
  color: #1E1E1C;
}
.sc .ac .a .stlt span {
  color: #8F63DA;
}
.sc .ac .a .ctat .stlt .stlt_s {
  font-size: 0.78vw;
  font-weight: 700;
  color: #8F63DA;
}
.sc .ac .a .ctat .input {
  width: 100%;
  height: 55.88%;
  background-color: #F3F3F3;
  margin-top: 0.52vw;
  display: flex;
  align-items: center;
}
.sc .ac .a .ctat .input .input_txt {
  font-size: 0.62vw;
  font-weight: 400;
  color: #707070;
  margin-left: 0.52vw;
}
.sc .ac .a .ctat .input .icn {
  width: 3.14%;
  margin-left: 12.08vw;
}
.sc .ac .a2 {
  display: inline;
}
.sc .ac .a .file_bx {
  width: 100%;
  height: 17%;
  background-color: #F3F3F3;
  border: 1px solid #707070;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.52vw;
}
.sc .ac .a .file_bx .isn2 {
  width: 1.41%;
}
.sc .ac .a .file_bx .ctxt {
  font-size: 0.62vw;
  font-weight: 400;
  color: #707070;
}
.box2 {
  margin-top: 1.41vw;
}
.bx {
  width: 100%;
  height: 55.52%;
  background-color: #F3F3F3;
}
.ac2 {
  width: 40.63%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 1vw;
}
.sc .ac .icn3 {
  width: 2.5%;
}
.sc .ac2 .t2 {
  font-size: 0.62vw;
  margin-left: 0.26vw;
}
.sc .btn {
  width: 15%;
  height: 6%;
  background-color:#8F63DA ;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4.4vw auto 0;
}
.sc .btn .btn_txt {
  font-size: 0.78vw;
  font-weight: 700;
  color: white;
  
}
 